/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bg-container {
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .bg-container {
    width: 80%;
  }
}
.heading {
  color: #000000;
  font-size: 24px;
  font-family: "Roboto";
}

.Information {
  background-color: #0b69ff;
  height: 12vh;
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.first-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.logo {
  height: 30px;
  width: 30px;
}

.info {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 5px;
}

.success {
  background-color: #2dca73;
}

.warning {
  background-color: #ffb800;
}
.Error {
  background-color: #ff0b37;
}
